@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Practica 8 Unidad 4</h1>
    <p class="lead">
        En este ejercicio utilizaremos la practica 7 de la unidad 2 para cambiar los estilos de las
        vistas que lo ameriten y crear una función que nos permita realizar una busqueda de los empleados.
    </p>
    <p><a href="/Empleado/Index" class="btn btn-primary btn-lg">Empecemos &raquo;</a></p>
</div>